<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>File Manager</header>
<div class="topbar">
<button onclick="location.href='/'">Back</button>
<input id="searchFM" placeholder="Search ISO">
</div>
<table>
<thead><tr>
<th>Name</th><th>Type</th><th>Arch</th><th>Bits</th><th>Size</th><th>Actions</th>
</tr></thead>
<tbody id="fmTable"></tbody>
</table>
<script src="/static/script.js"></script>
</body>
</html>