<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Login - ISO NAS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="center">
    <div class="login-box">
        <h2>Вхід до архіву</h2>
        <form method="POST">
            <input type="text" name="user" placeholder="Користувач" required>
            <input type="password" name="pass" placeholder="Пароль" required>
            <button type="submit" style="width: 100%; margin-top: 10px;">Увійти</button>
        </form>
    </div>
</body>
</html>